img{
    width: 150px;
    height: 170px;
}
h5{
    font-size: 26px;
}
.mycard{
    margin: 10px 0px 0px 5px;
}
a{
    margin-left: 10px;
    margin-top: 10px;
}
button{
    margin-left: 10px;
}
.list{
    background-color: lightgray;
}